<script>
    $(document).ready(function(){
    Object.create(Application).Init({{{jsonData}}})
});


</script>
<div class="panel panel-default">
    <div class="panel-heading">{{label.title}}</div>

    <div class="panel-body">
        <div class="panel-title">
            <form class="form-inline" method="post" action="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" value="{{searchParam.name}}"
                           placeholder="{{label.name}}">
                </div>
                <div class="form-group">
                    <label for="active">Active:</label>
                    <select id="active" name="active" class="form-control">
                        <!--{{#activeList}}-->
                        <!--<option value="{{value}}" {{selected}}>{{label}}</option>-->
                        <!--{{/activeList}}-->
                    </select>
                </div>
                <button type="submit" class="btn btn-default">{{label.search}}</button>
            </form>
        </div>
        <br/>
        {{^testCaseList.0}}
        {{noDataMessage}}
        {{/testCaseList.0}}
        {{#testCaseList}}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{label.id}}</th>
                <th>{{label.name}}</th>
                <th>{{label.method}}</th>
                <th>{{label.group}}</th>
                <th>{{label.active}}</th>
            </tr>
            </thead>
            {{#testCaseList}}
            <tbody class="table-hover">
            <tr>
                <td class="text-left">{{id}}</td>
                <td class="text-left">{{name}}</td>
                <td class="text-left">{{methodName}}</td>
                <td class="text-left">{{groupName}}</td>
                <td class="text-left">{{active}}</td>
            </tr>
            </tbody>
            {{/testCaseList}}
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-4 media-middle">
                    {{#previousPageUrl}}
                    <a href="{{previousPageUrl}}">{{label.previousPage}}</a>
                    {{/previousPageUrl}}
                    {{^previousPageUrl}}
                    <span>{{label.previousPage}}</span>
                    {{/previousPageUrl}}
                </div>
                <div class="col-md-4 media-middle"><span>{{currentPage}}</span></div>
                <div class="col-md-4 media-middle"><span>{{totalPage}}</span></div>
                <div class="col-md-4 media-middle">
                    {{#nextPageUrl}}
                    <a href="{{nextPageUrl}}">{{label.nextPage}}</a>
                    {{/nextPageUrl}}
                    {{^nextPageUrl}}
                    <span>{{label.nextPage}}</span>
                    {{/nextPageUrl}}
                </div>
            </div>
        </div>
    </div>
    {{/testCaseList}}
</div>