<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{{label.title}}</h3>
        <a type="button" href="{{addUrl}}" class="btn btn-info pull-right">{{label.add.case.group.button}}</a>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <br/>
        {{^caseGroupList.0}}
        {{noDataMessage}}
        {{/caseGroupList.0}}
        {{#caseGroupList.0}}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{label.id}}</th>
                <th>{{label.name}}</th>
                <th>{{label.active}}</th>
                <th></th>
            </tr>
            </thead>
            {{#caseGroupList}}
            <tbody class="table-hover">
            <tr>
                <td class="text-left"><a href="{{updateUrl}}/{{id}}">{{id}}</a></td>
                <td class="text-left"><a href="{{updateUrl}}/{{id}}">{{name}}</a></td>
                <td class="text-left">{{active}}</td>
                <td class="text-left"><a href="{{searchTestCase}}?groupId={{id}}">{{label.search.test.case}}</a></td>
            </tr>
            </tbody>
            {{/caseGroupList}}
        </table>
        {{/caseGroupList.0}}
    </div>
</div>