<div class="container">
    <form method="post" action="update">
        <h2>{{label.head}}</h2>
        {{#messages}}
        <div class="alert alert-{{type}}" role="alert">
            {{message}}
        </div>
        {{/messages}}

        <div class="form-group">
            <input type="text" id="id" name="id" value="{{serviceInfo.id}}" hidden="true" required>
        </div>

        <div class="form-group">
            <label for="name">{{label.name}}:</label>
            <input type="text" class="form-control" id="name" placeholder="{{label.name}}" name="name"
                   value="{{serviceInfo.name}}" autofocus
                   required>
        </div>

        <div class="form-group">
            <label for="wsdl">{{label.wsdl}}:</label>
            <input type="text" class="form-control" id="wsdl" placeholder="{{label.name}}" name="wsdl"
                   value="{{serviceInfo.wsdl}}" required>
        </div>

        <button class="btn btn-lg btn-primary" id="create" type="submit">{{label.submit}}</button>
        <button class="btn btn-lg btn-primary" id="assemble" type="submit" formaction="{{assembleUrl}}">
            {{label.assemble}}
        </button>
        <a class="btn btn-lg btn-primary" id="return" href="{{indexUrl}}">{{label.return}}</a>
    </form>
</div>